body {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    min-height: 100vh;
    margin: 0;
}

h2,h3,h4,h5 { margin: 0.5em 0; }

p { text-align: justify; }

button { height: min-content; }

#thumbnail {
    padding: 1em;
    border-radius: 8px;
    max-width: 660px;
    margin-left: auto;
}